<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
</head>
<body>
    <h1>Регистрация</h1>
    <form method="post" action="/">
        {{ form.hidden_tag() }}
        <p>{{ form.first_name.label }} {{ form.first_name() }}</p>
        <p>{{ form.last_name.label }} {{ form.last_name() }}</p>
        <p>{{ form.email.label }} {{ form.email() }}</p>
        <p>{{ form.password.label }} {{ form.password() }}</p>
        <p>{{ form.submit() }}</p>
    </form>
</body>
</html>
